<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Show Product</title>
</head>

<body>

    <div class="navbar-container">
        <ul>
            <li class="nav-items"> <a href="./index.html"> Home </a></li>
            <li class="nav-items"> <a href="./Show.html  "> Show </a></li>
            <li class="nav-items"> <a href="./Insert.html"> Insert</a></li>
            <li class="nav-items"> <a href="./Dashboard.html"> Dashboard</a></li>
        </ul>
    </div>

    <div class="dashboard-container">

        <div class="dashboard-list">
            <div class="title-dash"> TOTAL UNIT </div>

            <div class="list-dash">
                <div class="icon-dash"><img src="" alt=""></div>
                <div class="numbers-sale">
                    12345

                </div>
            </div>

        </div>

        <div class="dashboard-list">
            <div class="title-dash"> SALE </div>

            <div class="list-dash">
                <div class="icon-dash"><img src="" alt=""></div>
                <div class="numbers-sale">
                    12345

                </div>
            </div>

        </div>

        <div class="dashboard-list">
            <div class="title-dash"> BEST SALES </div>

            <div class="list-dash">
                <div class="icon-dash"><img src="" alt=""></div>
                <div class="numbers-sale">
                    12345

                </div>
            </div>

        </div>


    </div>

</body>

</html>