<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Show Product</title>
</head>

<body>

    <div class="navbar-container">
        <ul>
            <li class="nav-items"> <a href="./index.html">  Home  </a></li>
            <li class="nav-items"> <a href="./Show.html  "> Show  </a></li>
            <li class="nav-items"> <a href="./Insert.html"> Insert</a></li>
            <li class="nav-items"> <a href="./Dashboard.html"> Dashboard</a></li>
        </ul>
    </div>



</body>

</html>