<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title> Insert Product </title>
</head>

<body>
    <div class="navbar-container">
        <ul>
            <li class="nav-items"> <a href="./index.html">  Home  </a></li>
            <li class="nav-items"> <a href="./Show.html  "> Show  </a></li>
            <li class="nav-items"> <a href="./Insert.html"> Insert</a></li>
        </ul>
    </div>

    <div class="Insert-container">
        <br> <h2 class="Title-Head-Insert">Insert</h2> <br>
        <form action="#" method="post" class="Form-Insert">
            <label for="Data" class="Title-Insert">Data:</label>
            <input class="Insert-Input" type="text" id="Data" name="Data" required>

            <label for="Data" class="Title-Insert">Data:</label>
            <input class="Insert-Input" type="text" id="Data" name="Data" required>

            <label for="Data" class="Title-Insert">Data:</label>
            <input class="Insert-Input" type="text" id="Data" name="Data" required>

            <label for="Data" class="Title-Insert">Data:</label>
            <input class="Insert-Input" type="text" id="Data" name="Data" required>

            <button type="submit" class="button-submit"> Submit </button>
        </form>
    </div>

    <div class="banner-container">
        <div class="banner-images"></div>
    </div>

</body>
</html>