<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Show Product</title>
</head>

<body>

    <div class="navbar-container">
        <ul>
            <li class="nav-items"> <a href="./index.html">  Home  </a></li>
            <li class="nav-items"> <a href="./Show.html  "> Show  </a></li>
            <li class="nav-items"> <a href="./Insert.html"> Insert</a></li>
        </ul>
    </div>

    <div class="Title-Product-Header">
        <h1> Product </h1>
    </div>

    <div class="Product-Container">
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 6 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 7 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 8 -->
        <div class="Product-list">
            <div class="Product-images">
                <a href="#">
                    <img class="Image-Items" src="#" alt="">
                </a>
                <div class="Product-title"> Name Product </div>
            </div>
        </div>
        <!-- 9 -->
    </div>
</body>

</html>